.primary-dark {
    background-color: #4CAF50 !important;
}
.primary {
    background-color: #66BB6A !important;
}
.primary-light {
    background-color: #DCEDC8 !important;
}
.accent {
    background-color: #00BCD4 !important;
}
.primary-dark-t {
    color: #4CAF50 !important;
}
.primary-t {
    color: #66BB6A !important;
}
.primary-light-t {
    color: #DCEDC8 !important;
}
.accent-t {
    color: #00BCD4 !important;
}
body {
    color: #212121;
}
.secondary-text {
    color: #757575 !important;
}
