.input-csv {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.input-csv + label {
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
}
.role-submit {
  padding: 0px 24px;
  border: 2px solid #66BB6A;
}
.add-role {
  min-width: 100%;
}
.delete-role {
  float: right;
}
.delete-role:hover {
  color: #F44336;
}