<template name="applicants">
  <h1>Applicants template</h1>


  <ul class="collapsible popout" data-collapsible="expandable">
    <li>
      <div class="collapsible-header"><h2>Here's a header</h2></div>
      <div class="collapsible-body"><p>This is just a test. Testing. Haha! Fun testing. <a href="">here</a>.</p>
      </div>
   	</li>
  </ul>

  <h4 class="page-header">Upload a CSV</h4>

  {{#unless uploading}}
    <input type="file" name="uploadCSV">
  {{else}}
    <p><i class="fa fa-spin fa-refresh"></i> Uploading files...</p>
  {{/unless}}

</template>
