<template name="layout">
  <nav>
    <div class="nav-wrapper primary">
      <span class="brand-logo center">CSM Scrutinizer</span>
      {{#if currentUser}}
        <ul id="nav-mobile" class="left">
          <li><a id="showInterview" href="/review">Review</a></li>
          <li><a id="showInterview" href="/interview">Interview</a></li>
        </ul>

        <ul id="nav-mobile" class="right">
          <li><a id="showMeta" href="/manage">Manage</a></li>
          <li><a id="showQuestions" href="/questions">Edit Questions</a></li>
          <li><a id="signout" href="/">Sign out {{name}}</a></li>
        </ul>
      {{/if}}
    </div>
  </nav>
  <div class="container">
    {{#if currentUser}}
      {{> yield}}
    {{else}}
      <div class="row">
        <div class="col s12 m4 l2"></div>
        <div class="col s12 m4 l8">
          <div class="card white">
            <div class="card-content black-text">
              {{> loginForm}}
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</template>
