.input-field.inline {
  display: inline-block;
}
.role-select-spacer {
  margin-top: 1rem;
}
h5 {
  font-size: 1.4rem;
}
.score-card {
  padding: 20px;
  border: 2px solid #66BB6A;
  border-radius: 4px;
  margin-bottom: 20px;
}
.questions-card {
  max-height: 450px;
  overflow: scroll;
}
.save-interviewing, .save-qna {
  text-transform: uppercase;
  cursor: pointer;
  float: right;
  z-index: 99;
  transition-duration: 0.4s;
  height: 0px;
}
.save-interviewing:hover, .save-qna:hover {
  transform: scale(1.2);
}
.qna-wrapper {
  transition-duration: 0.3s;
  margin-bottom: 12px;
}
.qna-wrapper:hover {
  padding: 12px;
  border: 2px solid #66BB6A;
  border-radius: 4px;
}
.no-indent {
  margin-left: -20px;
}
.guidelines {
  margin-left: 24px;
}
ul ul {
  padding-left: 32px;
}
ul.browser-default ul li {
  list-style-type: circle;
}
ul.browser-default ul ul li {
  list-style-type: square;
}
.btn-guidelines {
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn-guidelines:hover {
  transform: scale(1.1);
}
